!!!
%html
  %head
    %title Todo
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render 'shared/analytics'
  %body
    .row-fluid
      .span10.offset1
        .hero-unit.text-center
          %h1
            To Do List
          %p
            Let's track some actions!
    .row-fluid
      .span4.offset4
        = yield
